<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'details.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>Details</title>
  </head>

  <body>
    <div class="container-xl px-4 mt-4">
      <div class="row">
        <div class="col-xl-4">
          <div class="card mb-4 mb-xl-0" style="background-color: #dcdcdc">
            <div class="card-header">Customer Information</div>
            <div
              class="card-body text-center"
              style="background-color: #f2f2f2"
            >
              <img
                class="img-account-profile rounded-circle mb-2"
                src="http://bootdey.com/img/Content/avatar/avatar1.png"
                alt
              />

              <div class="small font-italic text-muted mb-3">
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="id"
                      style="
                        position: relative;
                        right: 45%;
                        font-size: 12px;
                        font-weight: 500;
                        color: #333;
                        font-weight: 500;
                      "
                      >ID</label
                    >
                    <p class="cus">{{ customer_data.customerID }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="name"
                      style="
                        position: relative;
                        right: 36%;
                        font-size: 12px;
                        font-weight: 500;
                        color: #333;
                        font-weight: 500;
                      "
                      >Name</label
                    >
                    <p class="cus">{{ customer_data.name }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="occupation"
                      style="
                        position: relative;
                        right: 25%;
                        font-size: 12px;
                        font-weight: 500;
                        color: #333;
                        font-weight: 500;
                      "
                      >Occupation</label
                    >
                    <p class="cus">{{ customer_data.occupation }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="age"
                      style="
                        position: relative;
                        right: 40%;
                        font-size: 12px;
                        font-weight: 500;
                        color: #333;
                        font-weight: 500;
                      "
                      >Age</label
                    >
                    <p class="cus">{{ customer_data.age }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="card mb-4" style="background-color: #f2f2f2">
            <div class="card-header" style="background-color: #dcdcdc">
              Identity Details
            </div>
            <div class="card-body">
              <form>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="month"
                      style="font-size: 12px; font-weight: 500"
                      >Date of Requested Loan</label
                    >
                    <p class="outset">{{ customer_data.month }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="ssn"
                      style="font-size: 12px; font-weight: 500"
                      >SSN</label
                    >
                    <p class="outset">{{ customer_data.ssn }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="num_bank_accounts"
                      style="font-size: 12px; font-weight: 500"
                      >Number of Bank Accounts</label
                    >
                    <p class="outset">{{ customer_data.bankAccounts }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="num_credit_card"
                      style="font-size: 12px; font-weight: 500"
                      >Number Credit Cards</label
                    >
                    <p class="outset">{{ customer_data.numOfCreditCards }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="annual_income"
                      style="font-size: 12px; font-weight: 500"
                      >Annual Income</label
                    >
                    <p class="outset">{{ customer_data.annualIncome }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="monthly_inhald_salary"
                      style="font-size: 12px; font-weight: 500"
                      >Monthly Inhand Salary</label
                    >
                    <p class="outset">
                      {{ customer_data.monthlyInhaldSalary }}
                    </p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="changed_credit_limit"
                      style="font-size: 12px; font-weight: 500"
                      >Changed Credit Limit</label
                    >
                    <p class="outset">{{ customer_data.changedCreditLimit }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="num_of_loan"
                      style="font-size: 12px; font-weight: 500"
                      >Loan Number</label
                    >
                    <p class="outset">{{ customer_data.numOfLoan }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="interest_rate"
                      style="font-size: 12px; font-weight: 500"
                      >Interest Rate</label
                    >
                    <p class="outset">{{ customer_data.interestRate }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="type_of_loan"
                      style="font-size: 12px; font-weight: 500"
                      >Loan Type</label
                    >
                    <p class="outset">{{ customer_data.typeOfLoan }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="delay_from_due_date"
                      style="font-size: 12px; font-weight: 500"
                      >Delay from Due Date</label
                    >
                    <p class="outset">{{ customer_data.delayFromDueDate }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="num_of_delayed_payment"
                      style="font-size: 12px; font-weight: 500"
                      >Number of Delayed Payments</label
                    >
                    <p class="outset">
                      {{ customer_data.numOfDelayedPayment }}
                    </p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="outstanding_debt"
                      style="font-size: 12px; font-weight: 500"
                      >Outstanding Debt</label
                    >
                    <p class="outset">{{ customer_data.outstandingDebt }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="credit_utilization_ratio"
                      style="font-size: 12px; font-weight: 500"
                      >Credit Utilization Ratio</label
                    >
                    <p class="outset">
                      {{ customer_data.creditUtilizationRatio }}
                    </p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="total_emi_per_month"
                      style="font-size: 12px; font-weight: 500"
                      >Total EMI Per Month</label
                    >
                    <p class="outset">{{ customer_data.totalEMIPerMonth }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="amount_invested_monthly"
                      style="font-size: 12px; font-weight: 500"
                      >Monthly Invested Amount</label
                    >
                    <p class="outset">
                      {{ customer_data.amountInvestedMonthly }}
                    </p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="monthly_balance"
                      style="font-size: 12px; font-weight: 500"
                      >Monthly Balance</label
                    >
                    <p class="outset">{{ customer_data.monthlyBalance }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="credit_history_age"
                      style="font-size: 12px; font-weight: 500"
                      >Credit History Age</label
                    >
                    <p class="outset">{{ customer_data.creditHistoryAge }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="Payment_Behaviour"
                      style="font-size: 12px; font-weight: 500"
                      >Payment Behaviour</label
                    >
                    <p class="outset">{{ customer_data.paymentBehavior }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="credit_mix"
                      style="font-size: 12px; font-weight: 500"
                      >Credit Mix</label
                    >
                    <p class="outset">{{ customer_data.creditMix }}</p>
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="min_payment_amount"
                      style="font-size: 12px; font-weight: 500"
                      >Payment of Minimum Amount</label
                    >
                    <p class="outset">{{ customer_data.paymentOfMinAmount }}</p>
                  </div>

                  <div class="col-md-6">
                    <label
                      class="small mb-1"
                      for="num_credit_inquiries"
                      style="font-size: 12px; font-weight: 500"
                      >Credit Inquiry Number</label
                    >
                    <p class="outset">
                      {{ customer_data.numOfCreditInquiries }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>
