<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}" />

    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <video autoplay muted loop id="myVideo">
        <source src="{{ MEDIA_URL }}video/home.mp4" type="video/mp4" />
      </video>

      <div class="text-box" style="position: relative; top: 50%">
        <div class="row">
          <a href="{% url 'customerList' %}">Customers List</a>
          <a href="{% url 'formPage' %}">Add Customer +</a>
        </div>
      </div>
    </div>
  </body>
</html>
