<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'member.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Members List</title>
  </head>

  <body>
    <button class="b">
      <a href="{% url 'welcome' %}"><i class="bx bx-home"></i></a>
    </button>
    <div class="container" style="position: relative; width: 1500px">
      <header>Credit Score Members</header>

      <div class="list py-2">
        <table
          id="example"
          class="table table-striped"
          style="width: 100%; font-size: 13.5px"
        >
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Name</th>
              <th>Occupation</th>
              <th>Age</th>
              <th>Credit History Age</th>
              <th>Outstanding Debt (in Taka)</th>
              <th>Delay from Due Date</th>
              <th>Interest rate (%)</th>
              <th>Credit Score</th>
              <th>Show Details</th>
            </tr>
          </thead>

          <tbody>
            {% for data in customerList %}
            <tr>
              <td>{{ data.customerID }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.occupation }}</td>
              <td>{{ data.age }}</td>
              <td>{{ data.creditHistoryAge }}</td>
              <td>{{ data.outstandingDebt }}</td>
              <td>{{ data.delayFromDueDate }}</td>
              <td>{{ data.interestRate }}</td>
              <td>{{ data.creditScore }}</td>
              <td>
                <a href="{% url 'profile_view' data.customerID %}" class="cool"
                  >Show More</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

    <script src="{% static 'js/member.js' %}"></script>
  </body>
</html>
