<!-- second.html -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'second.css' %}" />

    <!-- <link rel="stylesheet" href="second.css" /> -->

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <title>Credit Score 2nd Page</title>
  </head>

  <body>
    <div class="container">
      <header>Credit Score Form</header>

      <form action="{% url 'second_view' %}" method="POST">
        {% csrf_token %}
        <div class="form second">
          <div class="details address">
            <span class="title">Identity Details</span>

            <div class="fields">
              <div class="input-field">
                <label for="delay_from_due_date">Delay from Due Date</label>
                <input
                  type="number"
                  id="delay_from_due_date"
                  name="Delay_from_due_date"
                  placeholder="Enter delayed number"
                  step="any"
                  required
                />
              </div>

              <div class="input-field">
                <label for="type_of_loan" style="position: relative; top: 12px"
                  >Loan Type</label
                >
                <br />

                <select
                  name="Type_of_Loan"
                  class="form-select"
                  aria-label="Default select example"
                  style="position: relative; bottom: 12px"
                >
                  <option selected>Select Loan Type</option>

                  <option value="Basic Loan">Basic Loan</option>
                  <option value="Livestock Loan">Livestock Loan</option>
                  <option value="House Loan">House Loan</option>
                  <option value="Center House Loan">Center House Loan</option>
                  <option value="Education Loan">Education Loan</option>
                  <option value="Nursing Diploma and BSc Loan">
                    Nursing Diploma and BSc Loan
                  </option>
                  <option value="Bridge Loan">Bridge Loan</option>
                  <option value="Micro-Enterprise">Micro-Enterprise</option>
                  <option value="Younger Enterprise Loan">
                    Younger Enterprise Loan
                  </option>
                  <option value="Special Loan">Special Loan</option>
                  <option value="Flexible Loan">Flexible Loan</option>
                  <option value="Center Welfare Loan">
                    Center Welfare Loan
                  </option>
                </select>
              </div>

              <div class="input-field">
                <label for="num_of_delayed_payment"
                  >Number of Delayed Payment</label
                >
                <input
                  type="number"
                  id="num_of_delayed_payment"
                  name="Num_of_Delayed_Payment"
                  placeholder="Enter delayed payment"
                  required
                />
              </div>

              <div class="input-field">
                <label for="num_credit_inquiries"
                  >Number of Credit Inquiries</label
                >
                <input
                  type="number"
                  id="num_credit_inquiries"
                  name="Num_Credit_Inquiries"
                  placeholder="Enter credit inquiry number"
                  required
                />
              </div>

              <div class="input-field">
                <label for="outstanding_debt">Outstanding Debt (in Taka)</label>
                <input
                  type="number"
                  id="outstanding_debt"
                  name="Outstanding_Debt"
                  placeholder="Enter outstanding debt"
                  step="any"
                  required
                />
              </div>

              <div class="input-field">
                <label for="credit_utilization_ratio"
                  >Credit Utilization Ratio</label
                >
                <input
                  type="number"
                  id="credit_utilization_ratio"
                  name="Credit_Utilization_Ratio"
                  placeholder="Enter credit utilization ratio"
                  step="any"
                  required
                />
              </div>

              <div class="input-field">
                <label for="total_emi_per_month"
                  >Total EMI Per Month (in Taka)</label
                >
                <input
                  type="number"
                  id="total_emi_per_month"
                  name="Total_EMI_per_month"
                  placeholder="Enter total EMI per month"
                  step="any"
                  required
                />
              </div>

              <div class="input-field">
                <label for="amount_invested_monthly"
                  >Amount Invested Monthly (in Taka)</label
                >
                <input
                  type="number"
                  id="amount_invested_monthly"
                  name="Amount_invested_monthly"
                  placeholder="Enter monthly invested amount"
                  step="any"
                  required
                />
              </div>

              <div class="input-field">
                <label for="monthly_balance">Monthly Balance (in Taka)</label>
                <input
                  type="number"
                  id="monthly_balance"
                  name="Monthly_Balance"
                  placeholder="Enter monthly balance"
                  step="any"
                  required
                />
              </div>
            </div>
          </div>

          <div class="buttons">
            <div class="backBtn">
              <i class="uil uil-navigator"></i>
              <span class="btnText" onclick="goBack()">Back</span>
            </div>
            <button type="submit" class="nextBtn">
              <span class="btnText">Next</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
