<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'third.css' %}" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Credit Score Third Page</title>
  </head>

  <body>
    <div class="container">
      <header>Credit Score Form</header>
      <form action="{% url 'third_view' %}" method="POST">
        {% csrf_token %}
        <div class="form third">
          <label>Payment Behaviour</label><br />
          <select
            name="Payment_Behaviour"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Select menu</option>
            <option value="Low">Low</option>
            <option value="High">High</option>
          </select>
          <br />

          <label>Credit Mix</label><br />
          <select
            name="Credit_Mix"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Select menu</option>
            <option value="Good">Good</option>
            <option value="Standard">Standard</option>
            <option value="Bad">Bad</option>
          </select>
          <br />

          <label>Minimum Payment Amount</label><br />
          <select
            name="Payment_of_Min_Amount"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Select menu</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>

          <div class="buttons">
            <div class="backBtn">
              <i class="uil uil-navigator"></i>
              <span class="btnText">Back</span>
            </div>

            <button class="submit" type="submit">
              <span class="btnText">Submit</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <script src="{% static 'js/third.js' %}"></script>
  </body>
</html>
